/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Scope+One&display=swap');

/* Css Variables*/
:root{
    --primary-font: "Scope One", sans-serif;
    --secondary-font: "Mystery Quest", cursive;
    --background-color: #FFC2D1;
    --primary-color: #FF8FAB;
    --secondary-color: #FB6F92;
}
/* Nav-bar hero image */
#navbar{
    background: url(/assets/images/cupcakes-crumbs-and-doilies_2600x1083_crop_center.webp);
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0px;
}
/* Removed board from toggle button */
.navbar-toggler{
    --bs-navbar-toggler-border-color: none;
    --bs-navbar-toggler-focus-width: 0;
}

/* Style for main heading */
#logo {
    font-family: var(--primary-font);
    color: rgba( 255, 111, 146, 1);
    text-shadow: 1px 1px 13px rgba(251, 111, 146, 0.68);
    font-size: 64px;
    -webkit-text-stroke:1px black;
    background-color: rgba(255, 229, 236, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 229, 236, 0.11);
}