/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Scope+One&display=swap');

/* Css Variables*/
:root{
    --primary-font: "Scope One", sans-serif;
    --secondary-font: "Mystery Quest", cursive;
    --background-color: #FFC2D1;
    --primary-color: #FF8FAB;
    --secondary-color: #FB6F92;
}

/*background color for the whole page*/
html{
    background-color: var(--background-color);
}

/*padding for the header to be below the navbar*/
body{
    padding-top: 160px;
    font-family: var(--primary-font);
    background-color: var();
}
h1,
h2,
h3{
    font-family: var(--primary-font);
}
/* Nav-bar */
#navbar{
    background-color: var(--background-color) !important;
    height: 140px;
    padding: 0px;
}
/* Background color for nav-bar popout*/
.offcanvas{
    background-color: var(--background-color);
    font-family: var(--primary-font);
    font-size: 20px;
    color: black;
}
/* Removed board from toggle button */
.navbar-toggler{
    top: 5px !important;
    position: absolute !important;
    --bs-navbar-toggler-border-color: none;
    --bs-navbar-toggler-focus-width: 0;
}

/* Style for main heading */
#logo {
    font-family: var(--secondary-font);
    color:black;
    font-size: calc(1.3rem + 3.5vw);
}
