/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Scope+One&display=swap');

/* Css Variables*/

#navbar{
    background: url(/assets/images/cupcakes-crumbs-and-doilies_2600x1083_crop_center.webp);
    background-position: center;
    background-size: cover;
    height: 250px;
    padding: 0px;
}
.navbar-toggler{
    background-color: aqua;
    position: absolute;
    top: 15px;
    left: 90%;
}
.navbar-brand {
    position: absolute;
    left: 40%;
}

a {
    background-color: aqua;
    height: 40px;
    font-family: "Myster Quest";
}